<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Google</title>
  <link rel="ikona" href="Zdjecia/ikona.png">
  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="main2.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="cities.js"></script>
</head>
<body>
  <!--class="results" dla kolejnej wersji google-->
  <div id="app" :class="[zmiana2 == 1 ? 'results' : 'home']"> 
  <div class="header">
    <a href="https://mail.google.com">Gmail</a>
    <a href="https://www.google.pl/imghp?hl=pl&ogbl">Grafika</a>
    <img src="Zdjecia/ikona2.png" role="click"></img><click>Zaloguj się</click>
  </div>
  <div class="middle">
          <img src="Zdjecia/napis.png" class="napis"><br><br>
            <div class="middle1">
              <div class = "lista">
                <input @focus="foc" ref="first" v-model="googleSearch" type="text" class="middle2" v-on:keyup.down="downClick" v-on:keyup.up="upClick" v-on:keyup.enter="enterClick"/>
                <div class="lista1"></div>
                <div class="lista2">
                 
                </div>
              </div>
                <img src="Zdjecia/ikona3.png" class="middle3"/>
                <img src="Zdjecia/mikrofon.png" class="middle4"/>
                <input v-on:click="zmiana"  type="button" class="middle5" value="Sukaj w google"/>
                <input v-on:click="zmiana"  type="button" class="middle5" value="Szczęśliwy traf"/>
            </div>
  </div>
  <footer>
    <h1>Polska</h1>
    <div class="info">
      <div class="info1">
        <a href="https://about.google/">O nas</a>
        <a href="https://ads.google.com/intl/pl_pl/home/">Reklamuj się</a>
        <a href="https://www.google.com/services">Dla firm</a>
        <a href="https://www.google.com/search/howsearchworks">Jak działa wyszukiwarka</a>
      </div>
      <div class="info2">
        <a href="https://sustainability.google/intl/pl/commitments-europe"></a>
        
      </div>
      <div class="info3">
        <a href="https://policies.google.com/privacy">Prywatność</a>
        <a href="https://policies.google.com/terms">Warunki</a>
        <a href="https://www.google.com/preferences">Ustawienia</a>
      </div>
    </div>
  </footer>
    <div class="first_line">
        <img src="Zdjecia/napis2.png" alt=""  v-on:click="zmiana()">>

        <ul class="first_line3">
          <li><a href="#"><img src="Zdjecia/ikona2.png" class="google_napis" role="button"></a></li>
          <li><button class="first_line2" type="button" name="button">Zaloguj się</button></li>
        </ul>

        <div class="search">

          <div class="search_elements">
            <input ref="second" type="text" v-model="googleSearch"/>
            <img src="Zdjecia/lupa.png" class="lupa">
            <img src="Zdjecia/mikrofon.png" class="mikrofon">
            <img src="Zdjecia/klawiatura.png" class="klawiatura">
            <div class="line"></div>
            <img src="Zdjecia/x.png" class="x">
          </div>

          <ul class="search_options">
            <li class="napis"><a href="https://www.youtube.com/watch?v=Gx4JEBwVlXo">Wszystko</a></li>
            <li class="napis"><a href="https://www.youtube.com/watch?v=Bag1gUxuU0g">Wiadomości</a></li>
            <li class="napis"><a href="https://www.youtube.com/watch?v=1rTV7DCnF3Y">Grafika</a></li>
            <li class="napis"><a href="https://www.youtube.com/watch?v=cE6wxDqdOV0">Wideo</a></li>
            <li class="napis"><a href="https://www.youtube.com/watch?v=DHEOF_rcND8">Mapy</a></li>
            <li class="napis"><a href="https://www.youtube.com/watch?v=NrN3DLVpE28">Więcej</a></li>
            <li class="napis2"><a class="tools" href="#">Narzędzia</a></li>
            <li class="napis2"><a href="#">Ustawienia</a></li>
          </ul>
        </div>

    </div> 

    <div class="searchResults">

        <p class="liczba_odniesien"> Około  18042000 wyników (0,21 s)</p>
        <div class="cities">
          <a class="link">Miasta zawierające "{{googleSearch}}":</a>
          <ul>
            <li v-for="city in filteredCities">
              {{ city.name }}
            </li>
          </ul>
        </div>
        <div class="odniesienie">
          <a class="link" href="#">www.wikipedia.org› wiki ›Kryptowaluta</a><button>▼</button>
          <h2><a href="#">Kryptowaluta - Wikipedia, wolna encyklopedia</a></h2>
          <p>Kryptowaluta, rzadziej waluta kryptograficzna, bądź wirtualna moneta ... Najpopularniejszą kryptowalutą jest bitcoin, jednak istnieje kilka tysięcy innych ...</p>
        </div>

        <div class="odniesienie">
          <a class="link" href="#">www.xtb.com› answer</a><button>▼</button>
          <h2><a href="#">czym jest kryptowaluta Bitcoin i giełda BTC? | XTB</a></h2>
          <p>Dawniej kryptowaluty uważane były za coś w rodzaju biletu na loterię. W tym momencie jednak Bitcoin (BTC) i inne kryptowaluty ugruntowały swoją pozycję i są ...</p>
        </div>

        <div class="odniesienie">
          <a class="link" href="#">www.investing.com › crypto</a><button>▼</button>
          <h2><a href="#">Kryptowaluty – aktualne kursy online – Investing.com</a></h2> 
          <p>Kursy kryptowalut online, kapitalizacja rynkowa, wykresy, ceny, transakcje i wolumeny. Utwórz powiadomienia i alerty w czasie rzeczywistym.</p>
        </div>

        <div class="odniesienie">
          <a class="link" href="#">www.investing.com › crypto › jak-wyszukiwac-w-google</a><button>▼</button>
          <h2><a href="#">Wszystkie kryptowaluty - Investing.com</a></h2> 
          <p>Wyświetl kapitalizację rynkową, wolumen, ostatnią procentową zmianę dla każdej kryptowaluty, w tym także tych najważniejszych, takich jak Bitcoin, Ethereum, ...</p>
        </div>

        <div class="odniesienie">
          <a class="link" href="#">www.money.pl › Gospodarka › </a><button>▼</button>
          <h2><a href="#">"Czarna środa" bitcoina. Kryptowaluta szoruje po dnie ...</a></h2>
          <p><span>2 dni temu — </span>Krach wywołał panikę na rynkach finansowych. W ciągu około tygodnia najpopularniejsza kryptowaluta straciła na wartości około 25 tys. dolarów.</p>
        </div>

        <div class="odniesienie">
          <a class="link" href="#">www.e-kursy-walut.pl › Gospodarka ›  wyszukiwa...</a><button>▼</button>
           <h2><a href="#">Kursy kryptowalut - Aktualne notowania i ceny walut cyfrowych</a></h2>
          <p>Kryptowaluta	Cena	Zmiana (24h)	Kapitalizacja (24h)
            BTCBitcoin	132 857.4953 PLN36 007.6687 USD	‑11.057%	691.15 mld USD
            ETHEthereum	8 668.0570 PLN2 349.2579 USD	‑16.318%	282.59 mld USD
            USDTTether	3.6945 PLN1.0013 USD	+0.378%	58.61 mld USD</p>
        </div>

        <div class="odniesienie">
          <a class="link" href="#">www.bussinesinsider.pl › finanse ›</a><button>▼</button>
           <h2><a href="#">Kurs bitcoina (BTC) blisko swojego dna - Business Insider</a></h2>
          <p>Kryptowaluta dawno nie była tak tania. Oskar Nawalany; wczoraj 08:08; 100 387. Cena bitcoina (BTC) blisko swojego dna? Foto: NurPhoto / Contributor / Getty ...</p>
        </div>

        <div class="odniesienie">
          <a class="link" href="#">www.cinkciarz.pl ›</a><button>▼</button>
          <h2><a href="#">Czym są kryptowaluty? | Transakcje kryptowalutami z blockchain</a></h2>
          <p>- Kryptowaluty to wirtualne pieniądze. Opierają się na technice szyfrowania danych (kryptografii), która służy do weryfikacji transakcji oraz tworzenia nowych ...</p>
        </div>

        <br>

        <div class="odnosniki">
          <h2>Wyszukiwania podobne</h2>
          <table>
            <tr>
              <td>kryptowaluty - jak zacząć</td>
              <td>Jak kupić kryptowaluty</td>
            </tr>
            <tr>
              <td>Co to jest kryptowaluta</td>
              <td>Ile jest warta kryptowaluta?</td>
            </tr>
            <tr>
              <td>Najpopularniejsze kryptowaluty </td>
              <td>INCH kryptowaluta</td>
            </tr>
          </table>
        </div>
        <br><br>

          <table class="pages">
            <tr>
              <td><span class="blue">G</span></td>
              <td><span class="red">o</span></td>
              <td><span class="yellow">o</span></td>
              <td><span class="yellow">o</span></td>
              <td><span class="yellow">o</span></td>
              <td><span class="yellow">o</span></td>
              <td><span class="yellow">o</span></td>
              <td><span class="yellow">o</span></td>
              <td><span class="yellow">o</span></td>
              <td><span class="yellow">o</span></td>
              <td><span class="yellow">o</span></td>
              <td><span class="blue">g</span></td>
              <td><span class="green">l</span></td>
              <td><span class="red">e</span></td>
              <td rowspan="3" style="width: 12px;"></td>
              <td><span class="blue arrow">></span></td>
            </tr>

            <tr>
              <td class="numer"></td>
              <td class="numer" style="color: rgb(8, 8, 8); cursor: text;">1</td>
              <td class="numer">2</td>
              <td class="numer">3</td>
              <td class="numer">4</td>
              <td class="numer">5</td>
              <td class="numer">6</td>
              <td class="numer">7</td>
              <td class="numer">8</td>
              <td class="numer">9</td>
              <td class="numer">10</td>
            </tr>
          </table>
      </div>
    </div>
</body>
<script>
    var app = new Vue({
    el: '#app',
    data: {
      cities_update: true,
      cities: window.cities,
      zmiana2: 0,
      foc: true,
      list_counter: -1,
      selected_city: '',
      googleSearch: '',
      googleSearch_temp: '',
    },

watch: {

  list_counter: function(){
    this.cities_update = false;
    this.googleSearch = this.filteredCities[this.list_counter].name;
  },

  googleSearch: function(){
    if(this.googleSearch.length == 0){
      this.filteredCities = '';
    }
    else{
      this.createFilteredCities(this.cities_update);
      this.cities_update=true;
      if(this.list_counter == -1){
        this.googleSearch_temp = this.googleSearch; 
        this.createFilteredCities(true);    
          }
        
        }
      },
      
    },

    methods: 
      {
        createFilteredCities(bool){
        if(bool){
          let result = this.cities.filter(city => city.name.includes(this.googleSearch));
          if(result.length > 10){
             this.filteredCities = result.slice(1, 11);
          }
          else{
            this.filteredCities = result;
          }
        this.list_counter = -1;

      }
    },

    zmiana() {
      
        if (this.zmiana2 == 0)
        {
          this.zmiana2 = 1;
        }
        else
        {
          this.googleSearch = '';
          this.zmiana2 = 0;
        }
    },
    update_input(name)
    {
          this.googleSearch = name;
          this.zmiana(); 
    },
    choose(i){
        this.googleSearch = this.filteredCities[i].name;
    },

    enterClick() {
      if(this.list_counter != -1){ 
        this.googleSearch = this.filteredCities[this.list_counter].name
        this.list_counter = -1;
        this.zmiana();
        this.foc = false;
      }
      else{
        this.zmiana();
      }
    },

    upClick() {
      if(this.list_counter > -1){
        this.list_counter -= 1;
      }
      else if(this.list_counter == 0){
        this.list_counter = this.filteredCities.length - 1;
      }
    },

    downClick() {
      if(this.list_counter < this.filteredCities.length - 1){
        this.list_counter += 1;
      }
      else if(this.list_counter == this.filteredCities.length - 1){
        this.list_counter = -1;
      }
    },

  boldCity(input_city){
    let regex = new RegExp(this.googleSearch_temp, "gi");
    let bold = "<b>" + 
      input_city.name.replace(regex, match =>
          {return "<span class='thin'>"+ match +"</span>";}) 
              + "</b>";
      return bold;
  }
  }
});
</script>

</html>
